{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Rapid_Slum_Appresal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<h2>Rapid Slum Appresal form</h2>

<form  enctype="multipart/form-data" method="post">
{% csrf_token %}
<table class="col-md-12">

<tr class="col-md-12">
  <td class="col-md-6">	<label for="id_slum_name"> Slum name:</label>	</td>
  <td class="col-md-6">        {{ form.slum_name }}  					</td>
</tr>    
<tr class="col-md-12">    {{ form.slum_name.errors }}      </tr> 


<tr class="col-md-12">
  <td class="col-md-6">  <label for="id_approximate_population"> approximate population</label> </td>
  <td class="col-md-6"> {{ form.approximate_population }} </td>
</tr>
<tr class="col-md-12"> {{ form.approximate_population.errors }}  </tr>


<tr  class="col-md-12">
  <td  class="col-md-6">  <label for="id_toilet_cost">toilet cost </label> </td>
  <td  class="col-md-6">  {{ form.toilet_cost }} </td>
</tr>
<tr  class="col-md-12">    {{ form.toilet_cost.errors }}  </tr>


<tr class="col-md-12">
  <td class="col-md-6">  <label for="toilet_seat_to_persons_ratio">toilet seat to persons ratio</label> </td>
  </td class="col-md-6">  {{ form.toilet_seat_to_persons_ratio }} </td>
</tr>
<tr class="col-md-12"> {{ form.toilet_seat_to_persons_ratio.errors }}</tr>


<tr class="col-md-12">
<td class="col-md-12"> <label for="percentage_with_an_individual_water_connection">Percentage with an individual water connection</label></td>
 <td col-md-6>   {{ form.percentage_with_an_individual_water_connection }} </td>
</tr>  
 <tr class="col-md-12">{{ form.percentage_with_an_individual_water_connection.errors }}</tr>


<tr class="col-md-12">
<td class="col-md-6">  <label for="frequency_of_clearance_of_waste_containers">frequency of clearance of waste containers</label> </td>
<td class="col-md-6"> {{ form.frequency_of_clearance_of_waste_containers }} </td>
</tr>
<tr class="col-md-12">{{ form.frequency_of_clearance_of_waste_containers.errors }} </tr>


<tr class="col-md-12">
    <td class="col-md-12"> <label for="image1">image1</label> </td>
    <td class="col-md-12">  {{ form.image1 }} </td>
</tr>
<tr class="col-md-12">{{ form.image1.errors }}</tr>


<tr class="col-md-12">
    <td class="col-md-6"> <label for="image2">image2</label> </td>
   <td class="col-md-6">  {{ form.image2 }} </td>
</tr>
<tr class="col-md-12">{{ form.image2.errors }}</tr>


<tr class="col-md-12">
    <td class="col-md-6"> <label for="image3">image3</label> </td>
    <td class="col-md-6">  {{ form.image3 }} </td>
</tr>
<tr class="col-md-6">{{ form.image3.errors }} </tr>


<tr class="col-md-12">
    <td class="col-md-6"> <label for="image4">image4</label> </td>
    <td class="col-md-6">  {{ form.image4 }} </td>
</tr>
<tr class="col-md-6">{{ form.image4.errors }} </tr>


<tr>
    <button type="submit" class="btn btn-default">Submit</button>
</tr>
</table>


</form>

</div>

</html>


{% endblock %}


{% block content %}

{% endblock %}

{% block sidebar %}
{% endblock %}
