
{% extends 'header.html' %}


{% load staticfiles %}

{% block scriptblock %}

<link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
<link rel="stylesheet"  type="text/css" href="{% static "css/jquery.dataTables.min.css" %}" />

<script src="{% static "js/jquery.min.js" %}"></script>
<!-- <script type="text/javascript" src="http://www.google.com/jsapi" ></script> -->
<script src="{% static "js/maplabel.js" %}"></script>
<script src="{% static "js/city_wise_map.js" %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCs114b6ZNpVH5BGnrfgy0f1K49vfBK4gs&callback=initMap12"
async defer></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.dataTables.min.js" %}"></script>

{% endblock %}

{% block styleblock%}
<style>
	#map12 {
		height: 500px;
		width: 700px;
		margin: 0px;
		padding: 0px
	}
	#loading-img {
		background: url(/static/images/spinner.gif) center center no-repeat;
		height: 100%;
		width: 55%;
		z-index: 20;
	}
	.overlay {
		background: #e9e9e9;
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.5;
		z-index: 1;
	}
	input.chk[type='checkbox']{
		-webkit-appearance: none;-moz-appearance: none;
		border: 1px solid black; height: 1.2em; width: 1.2em;
	}
	input[type='checkbox']:checked:before {
		content: "\2713";
		position: relative;
	}
	.table > tbody > tr > td {

		padding: 6px !important;
	}
.container .jumbotron, .container-fluid .jumbotron{
	padding-left: 0px;
	padding-right:0px;
}
</style>

{% endblock %}


{% block content %}

<input type="text" class="hide" id="city_id" value="{{city_id}}"/>
<input type="text" class="hide" id="city_name" value="{{city_name}}"/>
<input type="text" class="hide" id="slum_name" value="{{slum_name}}"/>



<div class="container">
	<div class="jumbotron" style="background-color:white;">
	<h3>Spatial Slum Information</h3>
	<div class="overlay">
		<div id="loading-img"></div>
	</div>
	<div id="maphead"></div>
	<div id="mapdesc" style="width: 750px"></div>

	<div id="wdhead" style="width: 750px" ></div>
	<div id="wdaddress" style="width: 750px" ></div>
	<div id="wdofficer" style="width: 750px"></div>

	<div id="maplink" ></div>
	<div id="div_legend" style="padding-bottom:10px;">
		<div style="float:left;width:15px;height:15px;border:1px solid red;background: red;"></div>
		<div class="">&nbsp;Slums where household data is available</div>
	</div>
	<div>
		<div id="map12" style="float:left"></div>
		<div id="compochk"  style="float:left;padding-left:15px;overflow-y:auto;height:500px;"></div>
		<div style="height: 10px;width: 700px;"></div>
		<div style="width: 700px;" id="datatablecontainer">
			<table id="datatable" class="display" style="width:100% !important;"></table>
		</div>
		<div id="rim"></div>
		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div  class="modal-content">
					<div id="modelheader" class="modal-header">
						<h4 class="modal-title" ><label id="modelhdtext"></label>
						<button type="button" class="close" data-dismiss="modal"></button>
						</h4>
					</div>
					<div id="modelbody" class="modal-body" style="padding-top:0px;padding-bottom:0px;height:70%;overflow:auto;">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Close
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
{% endblock %}