{% load staticfiles %}
<html> 
<head> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<script src="{% static "js/draw.js" %}"></script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvDxlP63HXGJmKLvC0t_6O_Oy1IKo6RSI&callback=initialise"
async defer></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
 <input id="id_shape" type="hidden" name="shape" value="{{ POLYGON }}">

<div id="main-map"  style="width:1600px; height:600px"></div>	

<input id="reset" value="Reset and Redraw Polygon" type="button" class="navi"/>

</body>
</html>




