{% load static %}
<html> 
<head> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/draw.js" %}"></script>
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBbW857iVnZP7t1MlqDUwvIha9UVTnzt0&callback=initialise"
async defer></script>

<script>
     var url = "{% url 'modelmapdisplay' %}";
</script>
</head>
<body>
 <input id="id_shape" type="hidden" name="shape" value="{{ POLYGON }}">

<div id="main-map"  style="width:1200px; height:600px"></div>	

<input id="reset" value="Reset and Redraw Polygon" type="button" class="navi"/>

</body>
</html>




