<html>
<form  enctype="multipart/form-data" method="post">
    {% csrf_token %}
    
<div>
  {{ form.slum_name }}
</div>
<br>
   
<div>
  {{ form.approximate_population}}
</div>
<br>



<div>
  {{ form.toilet_cost }}
</div>
<br>


<div>
  {{ form.toilet_seat_to_persons_ratio }}
</div>
<br>


<div>
  {{ form.percentage_with_an_individual_water_connection }}
</div>
<br>

<div>
  {{ form.frequency_of_clearance_of_waste_containers}}
</div>
<br>

<div>
  {{ form.image1}}
</div>
<br>

<div>
  {{ form.image2 }}
</div>
<br>

<div>
  {{ form.image3 }}
</div>
<br>

<div>
  {{ form.image4 }}
</div>
<br>

    <input type="submit" value="Submit" />
</form>


</html>