<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Polygon Arrays</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
  <input id="id_shape" name="shape" value="{{ city }}">
   <div id="map"></div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

     <script>

      
      var map;
      var bermudaTriangle;
      var triangleCoords;
   
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: 18.5277126314823661, lng: 73.7867546081542969},
          mapTypeId: 'terrain'
        });

        var triangleCoords = [
            {lat: 18.5277126314823661, lng: 73.7867546081542969},
            {lat: 18.5358506467635991, lng: 73.8924980163574219},
            {lat: 18.5081798145187513, lng: 73.8969612121582031},
            {lat: 18.4827838198562340, lng: 73.8846015930175781},
            {lat: 18.4687818544045896, lng: 73.8492393493652344},
      	    {lat: 18.4707356856562299, lng: 73.8073539733886719},
            {lat: 18.4889703705461912, lng: 73.7846946716308594},
            {lat: 18.5163187592999279, lng: 73.7798881530761719},
        ];

       
        var bermudaTriangle = new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0.8,
          strokeWeight: 3,
          fillColor: '#FFF00',
          fillOpacity: 0.35
        });

        bermudaTriangle.setMap(map);



	google.maps.event.addListener(bermudaTriangle, 'click', function (event) {

		map=null;
    

		alert("Hell0");	
		
		map = new google.maps.Map(document.getElementById('map'), {
		  	zoom: 5,
		  	center: {lat: 24.886, lng: -70.268},
		  	mapTypeId: 'terrain'
        	});
		
		alert("Hi");	
		
	    // Define the LatLng coordinates for the polygon.

	        var triangleCoords = [
	          {lat: 30.774, lng: -85.190},
        	  {lat: 23.466, lng: -71.118},
       		   {lat: 37.321, lng: -69.757},
        	  {lat: 30.774, lng: -85.190}
        	];

	        // Construct the polygon.
	        var bermudaTriangle = new google.maps.Polygon({
	          paths: triangleCoords,
	          strokeColor: '#FF0000',
	          strokeOpacity: 0.8,
	          strokeWeight: 3,
	          fillColor: '#FE0000',
	          fillOpacity: 0.35
	        });
	        
		bermudaTriangle.setMap(map);


		var triangleCoords = [
      		      {lat: 25.774, lng: -80.190},
        	      {lat: 18.466, lng: -66.118},
                      {lat: 32.321, lng: -64.757}
     		   ];

     		   // Construct the polygon.
      		  var bermudaTriangle = new google.maps.Polygon({
      			    paths: triangleCoords,
      			    strokeColor: '#FF0000',
       			   strokeOpacity: 0.8,
        		  strokeWeight: 3,
        		    fillColor: '#FE0000',
     	        	     fillOpacity: 0.35
	        });

       
	        bermudaTriangle.setMap(map);


	
});

}


 

    </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvDxlP63HXGJmKLvC0t_6O_Oy1IKo6RSI&callback=initMap"
	async defer></script>
 </body>
</html>