{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}

<div style ="margin:auto;witdth:20%,margin-top:100px;">
	<a href="master/"><h2>Database Adminstration </h2></a> 
</div>
<div style ="margin:auto;witdth:20%,margin-top:100px;">
	<a href="surveymapping/"><h2>Survey Mapping </h2></a> 
</div>

<div style ="margin:auto;witdth:20%,margin-top:100px;">
	<a href="insert/"><h2>factsheet </h2></a> 
</div>


<div style ="margin:auto;witdth:20%,margin-top:100px;">
	<a href="report/" target="__blank"><h2>Report</h2></a> 
</div>

{% endblock %}

{% block content %}

{% endblock %}

{% block sidebar %}
{% endblock %}
