{% extends "admin/base_site.html" %}
{% load i18n %}
{% block breadcrumbs %}
{% load static %}
{% csrf_token %}

<ol class="breadcrumb">
    <li><a href="{% url 'master:index' %}">Home</a></li>
</ol>
<script type="text/javascript">
function administrativewardList(){

    $('#id_AdministrativeWard').empty();

    var cityname = $("#id_City option:selected").text();

    var id = $("#id_City option:selected").val();

    var url = "{% url 'master:administrativewardList' %}";

    $.ajax({

        url : url,

        data : { id : id},

        type: "POST",

        contenttype : "json",

        success : function(json){

              var str='<option value="';
              str = str +"0" +'"'+'>' + "---select---" + '</option>';
              $('#id_AdministrativeWard').append(str);


        for (i = 0; i < json.nameArray.length; i++){
                var str='<option value="';
                str = str +json.idArray[i] +'"'+'>' + json.nameArray[i] + '</option>';
                $('#id_AdministrativeWard').append(str);
            }

        }


    });

}

function electoralWardList(){

    $('#id_ElectoralWard').empty();

    var Administrativewardname = $("#id_AdministrativeWard option:selected").text();

    var id = $("#id_AdministrativeWard option:selected").val();

    var url = "{% url 'master:electoralWardList' %}";


    $.ajax({

        url : url,

        data : { id : id},

        type: "POST",

        contenttype : "json",

        success : function(json){


            var str='<option value="';
              str = str +"0" +'"'+'>' + "---select---" + '</option>';
            $('#id_ElectoralWard').append(str);


        for (i = 0; i < json.nameArray.length; i++) {
            var str='<option value="';
            str = str +json.idArray[i] +'"'+'>' + json.nameArray[i] + '</option>';
            $('#id_ElectoralWard').append(str);


        }

        }

    });

}


function slumList(){

   $('#id_Slum').empty();

    var Administrativewardname = $("#id_ElectoralWard option:selected").text();
    var id = $("#id_ElectoralWard option:selected").val();

    var url = "{% url 'master:slumList' %}";
    $.ajax({

        url : url,

        data : { id : id},

        type: "POST",

        contenttype : "json",


        success : function(json){
          var str='<option value="';
          str = str +"0" +'"'+'>' + "---select---" + '</option>';
          $('#id_Slum').append(str);



        for (i = 0; i < json.nameArray.length; i++) {
            var str='<option value="';
            str = str +json.idArray[i] +'"'+'>' + json.nameArray[i] + '</option>';
            $('#id_Slum').append(str);

            }

        }


    });

}


function cityList(){

    var url = "{% url 'master:cityList' %}";

    $.ajax({

        url : url,

        //data : {},

        type: "GET",

        contenttype : "json",

        success : function(json){

              var str='<option value="';
              str = str +"0" +'"'+'>' + "---select---" + '</option>';
              $('#id_City').append(str);


        for (i = 0; i < json.nameArray.length; i++){
                var str='<option value="';
                str = str +json.idArray[i] +'"'+'>' + json.nameArray[i] + '</option>';
                $('#id_City').append(str);
            }

        }


    });

}



function formList(){

    var url = "{% url 'master:formList' %}";

    $.ajax({

        url : url,

        type: "GET",

        contenttype : "json",

        success : function(json){

              var str='<option value="';
              str = str +"0" +'"'+'>' + "---select---" + '</option>';
              $('#id_form').append(str);


        for (i = 0; i < json.nameArray.length; i++){
                var str='<option value="';
                str = str +json.idArray[i] +'"'+'>' + json.nameArray[i] + '</option>';
                $('#id_form').append(str);
            }

        }


    });

}



$(document).ready(function(){

     $("#id_Slum").on('change',function()
     {
        $("#forms").show();
        $("#HouseNos").show();

    });

    $('drainagebutton').prop('disabled', true);
    $('rimbutton').prop('disabled', true);
    $("#AdministrativeWards").hide();
    $("#ElectoralWards").hide();
    $("#Slums").hide();
    $("#forms").hide();
    $("#HouseNos").hide();

    cityList();
    formList();

    $("#id_City").on('change',function()
    {
        $("#AdministrativeWards").show();
        administrativewardList();
    });

    $("#id_AdministrativeWard").on('change',function()
    {
        $("#ElectoralWards").show();
        electoralWardList();

    });


    $("#id_ElectoralWard").on('change',function()
    {
          $("#Slums").show();
         slumList();
    });


    $("#id_Slum").on('change',function()
     {
        var id = $("#id_Slum option:selected").val();
    });



    $("#id_form").on('change',function()
     {
        $('drainagebutton').prop('disabled', false);
        $('rimbutton').prop('disabled', false);
        var id = $("#id_form option:selected").text();
    });

  $("#rimbutton").click(function(){

        var Sid = $("#id_Slum option:selected").val();
        var Cid = $("#id_City option:selected").val();
        var Fid = $("#id_form option:selected").text();
        var url = "{% url 'master:rimreportgenerate' %}";

        $.ajax({

        url : url,

        data : { Sid : Sid,Fid : Fid},

        type: "POST",

        contenttype : "json",

        success : function(json){

            url = json.string;
            window.open("" + url );
        }

    });

  });


  $("#drainagebutton").click(function(){

        var Sid = $("#id_Slum option:selected").val();
        var Cid = $("#id_City option:selected").val();
        var Fid = $("#id_form option:selected").text();
        var url = "{% url 'master:drainagereportgenerate' %}";

        $.ajax({

        url : url,

        data : { Sid : Sid,Fid : Fid},

        type: "POST",

        contenttype : "json",

        success : function(json){

            url = json.string;
            window.open("" + url );
        }

    });

  });


  $("#familybutton").click(function(){

        var Sid = $("#id_Slum option:selected").val();
        var Cid = $("#id_City option:selected").val();
        var Fid = $("#id_form option:selected").text();
        var HouseNo = $('#HouseNo').val();

        var url = "{% url 'master:familyrportgenerate' %}";

        $.ajax({

        url : url,

        data : { Sid : Sid,Fid : Fid, HouseNo : HouseNo},

        type: "POST",

        contenttype : "json",

        success : function(json){
            if (json['string']!=undefined){
            url = json.string;
            window.open("" + url );
          }
          else{
            alert(json['error']);
          }
        }

    });

  });


});

</script>
{% endblock %}


{% block content %}
<div style="margin-left:3%;">
    <div class="row">
        <div class="col-md-12">
            <h2> Generate Report </h2>
        </div>
    </div>
</div>


<div style = "margin-left:3%;">

 <div class="row">
   <div class ="col-md-4">


    <div class="row" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for="City"> City </label>
        </div>
        <div class="col-md-8">
            {{ form.City }}
        </div>
    </div>


    <div class="row" id="AdministrativeWards" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for=""> Administrative Ward  </label>
        </div>
        <div class="col-md-8">
            {{ form.AdministrativeWard  }}
        </div>
    </div>


    <div class="row" id="ElectoralWards" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for=""> Electoral Ward </label>
        </div>
        <div class="col-md-8">
            {{ form.ElectoralWard }}
        </div>
    </div>

    <div class="row" id="Slums" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for=""> Slum </label>
        </div>
        <div class="col-md-8">
            {{ form.Slum }}
        </div>
    </div>

    <div class="row"id ="forms" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for=""> Form </label>
        </div>
        <div id='form' class="col-md-8" >
            {{ form.form }}
        </div>
    </div>

    <div class="row"id ="HouseNos" style="margin-bottom: 20px">
        <div class ="col-md-4">
            <label for=""> House No </label>
        </div>
        <div class="col-md-8" >
            <input id='HouseNo' type="text" name="HouseNo" value=""><br>
        </div>
    </div>




  </div>
 </div>


  <div class="row" id="buttons" style="margin-bottom: 20px">
    <div class="">
        <div class="col-md-2">
            <button id ="rimbutton" type="submit" class="btn btn-primary btn-block" > Generate RIM Report </button>
        </div>

        <div class="col-md-2">

            <button id ="drainagebutton" type="submit" class="btn btn-primary btn-block" > Generate Drainage Report </button>
        </div>

         <div class="col-md-2">

            <button id ="familybutton" type="submit" class="btn btn-primary btn-block" >Generate Family Report </button>
        </div>

        </div>
    </div>

</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
