{% load staticfiles %}

{{ form }}

<html>
<head>
<title></title>
 <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">





function myFunction(){

	alert("sucess");
    
    var cityname = $("#id_City option:selected").text();

    var id = $("#id_City option:selected").val();

    var url = "{% url 'Administrativeward' %}";
    
    alert(id);    

    alert(url);

    $.ajax({

    	url : url,
        
        data : { id : id},
        
        type: "POST",
        
        contenttype : "json",


     
        success : function(json){        	
        
        //	alert(typeof(json));
			alert(json.idArray);
			alert(json.nameArray);       	

		for (i = 0; i < json.nameArray.length; i++) { 
         	$('#id_AdministrativeWard').append('<option>'+json.nameArray[i]+'</option>');
		}

        }


    });

}


$(document).ready(function(){
	$("#id_City").on('change',function()
	{
        myFunction();   

 	});
});

</script>



</head> 
<body>

<div id ="name" align="center">
<select name="drop">
<option value="Milk">Fresh Milk</option>
</select>
</div>

</body>
</html>