{% extends "admin/base_site.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumbs %}
<ol class="breadcrumbs">
    <li><a href="{% url 'index' %}">Home</a></li>
</ol>
{% endblock %}

{% block content %}
<div class ="row" style = "margin-left:0.5%;">

<div style ="margin:auto;witdth:20%,margin-top:100px;">
  <a href="rim/display/"><h4>Rapid Infrastructure Mapping</h4></a>
</div>

<!-- Drainage report data collection is merged to RIM -->
<div class="hide" style ="margin:auto;witdth:20%,margin-top:100px;">
  <a href="drainage/display/"><h4>Drainage </h4></a>
</div>
{% endblock %}

{% block sidebar %}
{% endblock %}
