{% extends 'dashboard_sub_header.html' %}
{% load static %}

{% block styleblock %}
<link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap.min.css" %}" />

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"/>
<link rel="stylesheet"  type="text/css" href="{% static "css/city_cards.css" %}"/>

<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/slummapdisplay.js" %}"></script>
<script src="{% static "js/external_dashboard_subheader.js" %}"></script>
{% endblock %}
{%block content %}

<div class="overlay">
    <div id="loading-img"></div>
</div>

<div class="container-fluid">
    <div class="row details">
        <div class="col-md-1 col-sm-1 arrow">
            <button class="btn btn-primary leftLst"><<</button>
        </div>
        <div class="col-md-10 col-sm-10 cards scrolling-wrapper">


        </div>
        <div class="col-md-1 col-sm-1 arrow">
            <button class="btn btn-primary rightLst">>></button>
        </div>
    </div>
</div>
<div name="section_card_clone" class="first-card cards-bg hide">
    <p class="city_name average-img">

    </p>
    <p class="average-val-label">
        <span class="number-of-slums average-val-impact">0</span>
        <span class="average-label">Surveyed slums / Total slums</span>
    </p>
    <p class="average-val-label">
        <span class="household-count average-val-impact">0</span>
        <span class="average-label">Number of Households</span>
    </p>
    <p class="average-val-label">
        <span class="total-score average-val">0</span>
        <span class="average-label">Score for quality of living</span>
    </p>
    <div class="average-val-label">
        <div class="card-btn">
           <a class="card-url dashboard-url" target="_blank" href=""> Dashboard</a>
        </div>
        <div class="card-btn card-btn-right">
            <a class="card-url gis-url" target="_blank" href="">Spatial data(GIS)</a>
        </div>
    </div>
</div>
{% endblock %}
