{% extends "admin/base.html" %}

{% block title %} {{ site_title|default:_('Shelter site admin') }}{% endblock %}

{% block branding %}
<a href="/home"><img src="/static/images/shelter.png" height="52" style="padding:5px;"/></a>
{% endblock %}

{% block menubar %}
<ul class="nav navbar-nav">
    <li class="dropdown" id="admin-menu">
        <a href="#admin-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Admin
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">

            <li><a href="/accounts/">Database Adminstration </a></li>
            <li role="separator" class="divider"></li>
            {%if perms.master.view_survey%}
                <li><a href="/admin/surveymapping/">Survey Mapping </a></li>
            {%endif%}
            {%if perms.master.view_rapid_slum_appraisal%}
            <li><a href="/admin/sluminformation/rim/display/">RIM additional Info</a></li>
            {%endif%}

            {%if perms.component.can_upload_KML%}
            <li>
                <a href="/component/" >Upload KML</a>
            </li>
            {%endif%}
        </ul>
    </li>

    {% if perms.mastersheet.can_view_mastersheet or perms.mastersheet.can_view_mastersheet_report or perms.master.can_generate_reports or perms.master.can_generate_reports%}
    <li class="dropdown" id="report-menu">
        <a href="#report-menu" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
            Analytics
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Graphs</li>
            <li><a href="/graphs/type/toilet_construction/">Toilet Construction</a></li>
            <li><a href="/graphs/type/community_mobilization/">Community Mobilization</a></li>
	    <li><a href="/graphs/type/rhs_rhsfollowup/">RHS and Follow-Up</a></li>
        <li><a href="/graphs/covid_data">Covid Data</a></li>
            {% if perms.mastersheet.can_view_mastersheet or perms.mastersheet.can_view_mastersheet_report%}
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Mastersheets</li>
            {%endif%}
            {% if perms.mastersheet.can_view_mastersheet%}
            <li>
                <a href="/mastersheet/show/mastersheet/" >Progress Tracking</a>
            </li>
            <li>
                <a href="/mastersheet/show/summery/" >Summary view</a>
            </li>
            {%endif%}
            {% if perms.mastersheet.can_view_mastersheet%}
            <li>
                <a href="/mastersheet/report/" >Reports</a>
            </li>
            {%endif%}
            {% if perms.master.can_generate_reports %}
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Documents</li>
            {% endif %}
            {%if perms.master.can_generate_reports%}
                <li><a href="/admin/report/">Factsheet Report</a></li>
            {%endif%}
            {%if perms.master.can_generate_reports%}
                <li><a href="/admin/VulnerabilityReport/" target="__blank">Vulnerability Report</a></li>
            {%endif%}
            <li><a href="/graphs/factsheet_data">City Wise Factsheet Data</a></li>
        </ul>
    </li>
</ul>
{%endif%}
{% endblock%}

{% block nav-global %}{% endblock %}
