{% extends 'header.html' %}

{% load staticfiles %}

{% block mainblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container" style="padding-top:20px;">
	<div class="jumbotron" style="background:white;padding-left: 0px;">
		<style>
			table, th, td
			{
    			border: 1px solid black;
   				border-collapse: collapse;
			}
			th, td
			{
  				padding: 15px;
    			text-align: left;

			}
		</style>

		{% for entry in projects %}
		<div class="w3-card">

				<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				{%for img in entry.images%}
					{% if forloop.first %}
						<list class = "active" data-target="#myCarousel" data-slide-to = "{{forloop.counter0}}"></list>
					{%else%}
						<list data-target="#myCarousel" data-slide-to = "{{forloop.counter0}}"></list>
					{% endif %}
				{%endfor%}
				</ol>
				<style>
				.carousel-inner {
    						height: 400px;
    						max-width: 100%;
    						border-radius: 4px;
				}
				.item active > img{
 					height: 400px;
 	 				object-fit: contain;
 	 				margin: 0 auto;
				}
				.item > img{
					height: 400px;
 	 				object-fit: contain;
 	 				margin: 0 auto;
				}
				</style>
				<div class="carousel-inner">
					{% for img in entry.images%}
						{% if forloop.first%}
							<div class="item active">
								<img src="{{img.image.url}}">
							</div>
						{%else%}
							<div class="item">
								<img src="{{img.image.url}}">
							</div>
						{%endif%}
					{%endfor%}
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left"></span>
						<span class="sr-only">Previous</span>
					</a>

					<a class="right carousel-control" href="#myCarousel" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>

			<style>
					button.accordion {
    				background-color: #eee;
    				color: #444;
    				cursor: pointer;
    				padding: 18px;
    				width: 100%;
    				border: none;
    				text-align: left;
    				outline: none;
    				font-size: 15px;
    				transition: 0.4s;
					}

					button.accordion.active, button.accordion:hover {
    						background-color: #ccc;
					}

					div.panel {
    					padding: 0px;
   	 					display: none;
    					background-color: white;
					}
			</style>

			<button class="accordion"><h4>Toilet supported by {% firstof user.get_short_name user.get_username %}</h4></button>

			<div class = "panel" style="display: block;">
				<table id ="SponsorTable"style="width:100%">
					<tr >
						<td align = "left">
							<div  style = "width : 100%; overflow-y:scroll; height:150px;">
							{% block content %}
							{%for slum in entry.slums_in_project%}

								<ul>
								<h5>
									<li>
										<b>{{slum.name}},{{slum.cityname}}</b><br>
										<div style="font-style:italic;">(Click <a  href="/{{slum.city_id_encrypted}}/{{slum.name}}">here</a> to see factsheet online)</div>
									{% for  zipfile in slum.subfields %}
										<ul>
											<li>
												<!--Do add Documents' link-->

												No of households :{{zipfile.household_code|length}}
												{% if zipfile.zip_file %}

												<font style="font-style:italic;">(Click <a href = "{{zipfile.zip_file.url}}">here</a>  to download all factsheet)</font><br>
												{%else%}
													(In Progress...)<br>
												{%endif%}<br>
											</li>
										</ul>
									{% endfor %}
									</li>
								</h5>
								</ul>

							{% endfor%}
							{% endblock%}
							</div>
						</td>
						<td>
							<div align="center">
								{{entry.start_year.year}}<br>
								Households Impacted : {{entry.households_in_project}}<br> Slums Impacted : {{ entry.slums_in_project|length}}<br>
								{% for doc in entry.documents %}
								{{doc.url}}
									<a target='blank' href = "{{doc}}"> {{doc.givename}}</a><br/>

								{%endfor%}
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
		{% endfor%}
		<script>
				var acc = document.getElementsByClassName("accordion");
				var i;

				for (i = 0; i < acc.length; i++) {
    				acc[i].onclick = function(){
       					this.classList.toggle("active");
        				var panel = this.nextElementSibling;
        				if (panel.style.display === "block") {
            				panel.style.display = "none";
        				} else {
           					panel.style.display = "block";
        				}
    				}
				}
		</script>
	</div>
</div>
{% endblock %}








