{% extends 'header.html' %}
{% load static %}

{% block mainblock %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container" style="padding-top:20px;">
	<div class="jumbotron" style="background:white;padding-left: 0px;">

	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 15px;
			text-align: left;
		}
	</style>

	{% for entry in projects %}
	<div class="w3-card">

		{# ================= CAROUSEL (ONLY IF IMAGES EXIST) ================= #}
		{% if entry.images and entry.images|length > 0 %}

		<div id="myCarousel_{{ forloop.counter }}" class="carousel slide" data-ride="carousel">

			<ol class="carousel-indicators">
				{% for img in entry.images %}
				<li data-target="#myCarousel_{{ forloop.parentloop.counter }}"
				    data-slide-to="{{ forloop.counter0 }}"
				    class="{% if forloop.first %}active{% endif %}">
				</li>
				{% endfor %}
			</ol>

			<style>
				.carousel-inner {
					height: 400px;
					max-width: 100%;
					border-radius: 4px;
				}
				.item > img {
					height: 400px !important;
					object-fit: contain;
					margin: 0 auto;
				}
			</style>

			<div class="carousel-inner">
				{% for img in entry.images %}
				<div class="item {% if forloop.first %}active{% endif %}">
					<img src="{{ img.image.url }}">
				</div>
				{% endfor %}
			</div>

			<a class="left carousel-control"
			   href="#myCarousel_{{ forloop.counter }}"
			   data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>

			<a class="right carousel-control"
			   href="#myCarousel_{{ forloop.counter }}"
			   data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>

		</div>
		{% endif %}
		{# ================= END CAROUSEL ================= #}

		<style>
			button.accordion {
				background-color: #eee;
				color: #444;
				cursor: pointer;
				padding: 18px;
				width: 100%;
				border: none;
				text-align: left;
				outline: none;
				font-size: 15px;
				transition: 0.4s;
			}
			button.accordion.active,
			button.accordion:hover {
				background-color: #ccc;
			}
			div.panel {
				padding: 0px;
				display: none;
				background-color: white;
			}
			.ulslum, .ulhousehold {
				padding-top: 5px;
			}
			.ulslum > li,
			.ulhousehold > li {
				padding-bottom: 5px;
			}
		</style>

		<button class="accordion">
			<h4>{{ entry.project_Name }}</h4>
		</button>

		<div class="panel" style="display: block;">
			<table style="width:100%">
				<tr>
					<td>
						<div style="width:100%; overflow-y:scroll; height:150px;">
							<ul class="ulslum">
								{% for slum in entry.slums_in_project %}
								<li>
									<b>{{ slum.name }}, {{ slum.cityname }}</b><br>
									<div style="font-style:italic;">
										(Click <a target="_blank"
										href="/{{ slum.city_id_encrypted }}/{{ slum.name }}">here</a>
										to see factsheet online)
									</div>
									<ul class="ulhousehold">
										{% for zipfile in slum.subfields %}
										<li>
											No of households: {{ zipfile.household_code|length }}
											{% if zipfile.zip_file %}
											<span style="font-style:italic;">
												(<a href="{{ zipfile.zip_file.url }}">Download</a>)
											</span>
											{% endif %}
										</li>
										{% endfor %}
									</ul>
								</li>
								{% endfor %}
							</ul>
						</div>
					</td>

					<td align="center">
						{{ entry.start_year.year }}<br>
						Households Impacted: {{ entry.households_in_project }}<br>
						Slums Impacted: {{ entry.slums_in_project|length }}<br><br>

						{% for doc in entry.documents %}
							<a target="_blank" href="{{ doc.document.url }}">
								{{ doc.givename }}
							</a><br>
						{% endfor %}
					</td>
				</tr>
			</table>
		</div>

	</div>
	{% endfor %}

	<script>
		var acc = document.getElementsByClassName("accordion");
		for (var i = 0; i < acc.length; i++) {
			acc[i].onclick = function () {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				panel.style.display =
					panel.style.display === "block" ? "none" : "block";
			};
		}
	</script>

	</div>
</div>
{% endblock %}
