{%extends "admin/base_site.html"%}
{% load static %}
{% load custom_tags %}

{% block extrastyle %}
<link rel = "stylesheet" type="text/css" href = "{% static "css/jquery.dataTables.min.css" %}">
<link rel = "stylesheet" type="text/css" href = "{% static "admin/css/forms.css" %}">
<link rel = "stylesheet" type="text/css" href = "{% static "css/mastersheet_stylesheet.css" %}">
<link rel = "stylesheet" type="text/css" href = "{% static "css/bootstrap-datepicker3.min.css" %}">

{%endblock%}
{% block extrahead %}
<script src = "{% static "js/jquery.dataTables.min.js" %}"></script>
<script src = "{% static "js/dataTables.fixedColumns.min.js" %}"></script>

<script src = "{% static "js/dataTables.buttons.min.js" %}"></script>
<script src = "{% static "js/buttons.html5.min.js" %}"></script>
<script src = "{% static "js/jszip.min.js" %}"></script>
<script src = "{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script src = "{% static "js/load_datatable.js" %}"></script>
<script src = "{% static "js/bootstrap-datepicker.js" %}"></script>
{%endblock%}

{% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div class="overlay">
    <div id="loading-img"></div>
</div>
<div class="customized-form">
    <div class="row">
        <div class="col-md-8">
    <input id="export_mastersheet" type="hidden" value="{{perms.mastersheet.can_export_mastersheet}}"/>
    <form id = "slum_form" style="display: inline-block;" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="btnFetchShort" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Search Summery View</button>
        <input type="hidden" class="hide" id="slum_code" value="{{slum_code}}"/>

    </form>
    </div>
    </div>
</div>
<div style="overflow-x:auto; padding:10px">
    <table id="example" class="display" width="100%" cellspacing="0"></table>
</div>

{%endblock%}