{%extends "admin/base_site.html"%}
{% load static %}

{% block extrastyle %}
<link rel = "stylesheet" type="text/css" href = "{% static "css/jquery.dataTables.min.css" %}">
<link rel = "stylesheet" type="text/css" href = "{% static "admin/css/forms.css" %}">
<style>



/* The container */
.custom_checkbox {
    display: block;
    position: relative;
    /*padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.custom_checkbox input {
    position: absolute;
    opacity: 0;
    
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    float: left;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
   
}



/* When the checkbox is checked, add a blue background */
.custom_checkbox   .checkmark {
    background-color: #ea1943;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: relative;
    display: none;
}

/* Show the checkmark when checked */
.custom_checkbox input:checked ~ .checkmark:after {
    display: block;
    
}

/* Style the checkmark/indicator */
.custom_checkbox .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


#loading-img {
    background: url(/static/images/spinner.gif) center center no-repeat;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.display_line{
    display: inline-block;
}
.error_display{
    
    overflow-y:scroll;height:150px;
}
.overlay {
    background: #e9e9e9;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 2000;
}
div.dt-buttons>button{
    margin-right: 20px;
}
.trFirst{
    border-left:2px solid #d4d4d4;
    border-top:2px solid #d4d4d4;
}
.trMiddle{
    border-top:2px solid #d4d4d4;
}
.trLast{
    border-right:0px solid #d4d4d4;
    border-top:2px solid #d4d4d4;
}
.mid{
    overflow-x: scroll;
    width:100%;
    border:2px solid #d4d4d4;
}
</style>
{%endblock%}
{% block extrahead %}
<script src = "{% static "js/jquery.dataTables.min.js" %}"></script>
<script src = "{% static "js/dataTables.fixedColumns.min.js" %}"></script>

<script src = "{% static "js/dataTables.buttons.min.js" %}"></script>
<script src = "{% static "js/buttons.html5.min.js" %}"></script>
<script src = "{% static "js/jszip.min.js" %}"></script>
<script src = "{% static "admin/js/admin/RelatedObjectLookups.js" %}"></script>
<script src = "{% static "js/load_datatable.js" %}"></script>
<script>
     $(document).ready(function() {
        $('.related-lookup').click(function(e) {
            e.preventDefault();
            showRelatedObjectLookupPopup(this);
        });
    });
</script>
{%endblock%}

{% block content %}
<div class="overlay">
    <div id="loading-img"></div>
</div>
<div class="customized-form">
    <div class="row">
        <div class="col-md-8">
    <form id = "slum_form" style="display: inline-block;" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button type="button" id="btnFetch" class="btn btn-primary" ><span class="glyphicon glyphicon-search"></span> Search</button>
        {% if perms.mastersheet.can_sync_toilet_status%}
        <button type="button" id="btnSync" class="btn btn-success"><span class="glyphicon glyphicon-cloud"></span> Sync</button>
        {%endif%}
        {% if perms.mastersheet.can_upload_mastersheet%}
        <button type="button" id="btnUpload" class="btn btn-success" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-upload"></span> Upload</button>
        {%endif%}
        <input type="hidden" class="hide" id="slum_code" value="{{slum_code}}"/>
    </form>
    {% if perms.mastersheet.can_upload_mastersheet%}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload Excel file</h4>
          </div>
          <form id="upload_file" method = "POST" enctype="multipart/form-data" action="">{% csrf_token %}
          <div id = "upload_file_field" class="modal-body">
                {{ file_form.as_p}}
          </div>
          <div id = 'success_log'>
              
          </div>
          <div id = 'error_log' >
            <!--
                The error msg for the file upload modal is to be displayed in the modal
                instead of alert
            -->
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button id = "upload_file_1" type="button" class="btn btn-primary">Upload</button>
          </div>
          </form>
        </div>
      </div>
    </div>
    {%endif%}

     <div id="buttons" style="padding-top:20px;"></div>
</div>
<div class="col-md-4">
        <div class="" style = "float:right;display: none;" id = "legend" >
           <!--  <div style="float:left;width:15px;height:15px;border:1px solid #f9a4a4;background: #f9a4a4;"></div>
            <div style="float:left;" class="">&nbsp;Phase 1 material is delayed&nbsp;</div><br>       
            <div style="float:left;width:15px;height:15px;border:1px solid #f2f29f;background: #f2f29f;"></div>
            <div style="float:left;" class="">&nbsp;Phase 2 material is delayed&nbsp;</div><br>
            <div style="float:left;width:15px;height:15px;border:1px solid #aaf9a4;background: #aaf9a4;"></div>
            <div style="float:left;" class="">&nbsp;Phase 3 material is delayed&nbsp;</div><br>
            <div style="float:left;width:15px;height:15px;border:1px solid #aaa4f4;background: #aaa4f4;"></div>
            <div style="float:left;" class="">&nbsp;Completion is delayed&nbsp;</div><br>
            <div style="float:left;width:15px;height:15px;border:1px solid #a9d2fc;background: #a9d2fc;"></div>
            <div style="float:left;" class="">&nbsp;Missing date&nbsp;</div><br>
            <div style="float:left;width:15px;height:15px;border:1px solid #c6c6c6;background: #c6c6c6;"></div>
            <div style="float:left;" class="">&nbsp;Written off&nbsp;</div><br>
            <div style="float:left;width:15px;height:15px;border:1px solid #fc0707;background: #fc0707;"></div>
            <div style="float:left;" class="">&nbsp;Ambiguous Dates&nbsp;</div><br> -->
            
            <label class="custom_checkbox">  
                <input type="checkbox"  id ="p1" value = "#f9a4a4" name = "checkbox_filter">
                <span style="background-color: #f9a4a4; " class="checkmark"></span>&nbsp;Phase 1 material is delayed
            </label>
         
            
            <label class="custom_checkbox">
                <input type="checkbox"  id = "p2" value = "#f2f29f" name = "checkbox_filter">&nbsp;Phase 2 material is delayed
                <span style="background-color: #f2f29f; " class="checkmark"></span>
            </label>
          
            <label class="custom_checkbox">
                <input type="checkbox"  id = p3 value = "#aaf9a4" name = "checkbox_filter">&nbsp;Phase 3 material is delayed
                <span style="background-color: #aaf9a4; " class="checkmark"></span>
            </label>
            
            <label class="custom_checkbox">
                <input type="checkbox"  id = "cd" value = "#aaa4f4" name = "checkbox_filter">&nbsp;Completion is delayed
                <span style="background-color: #aaa4f4; " class="checkmark"></span>
            </label>
            
            <label class="custom_checkbox">
                <input type="checkbox"  id = "md" value = "#f9a4a4">&nbsp;Missing dates
                <span style="background-color: #a9d2fc; " class="checkmark"></span>
            </label>
            
            <label class="custom_checkbox">
                <input type="checkbox"  id = "wo" value = "#f9a4a4">&nbsp;Written off
                <span style="background-color: #c6c6c6; " class="checkmark"></span>
            </label>
           
            <label class="custom_checkbox">
                <input type="checkbox"   id = "ad" value = "#f9a4a4">&nbsp;Ambigious dates
                <span style="background-color: #fc0707; " class="checkmark"></span>
            </label>
        
        </div> 
        </div> 
        

</div>
       

        
        <table id="example" class="display" width="100%" cellspacing="0">
        </table>

        <div class="row" id="add_table_btn">
            <div class="col-md-2">
                {%if perms.mastersheet.can_delete_kobo_record %}
                <button id = "delete_selected" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                {%endif%}
            </div>
            <div class="col-md-10" id = "add_buttons">
                {% if perms.mastersheet.add_communitymobilization%}
                <button id = "add_com_mob" type="button" class="btn btn-default btn-success pull-right" style="margin-left:10px;" onclick = "window.open('/admin/master/mastersheet/communitymobilization/add/', '_blank', 'width=850,height=750')"><span class="glyphicon glyphicon-plus"></span> Community Mobilization</button>
                {%endif%}
                {% if perms.mastersheet.add_vendorhouseholdinvoicedetail%}
                <button id = "add_accounts" type="button" class="btn btn-default btn-success pull-right" style="margin-left:10px;" onclick = "window.open('/admin/master/mastersheet/vendorhouseholdinvoicedetail/add/', '_blank', 'width=850,height=750')"><span class="glyphicon glyphicon-plus"></span> Accounts</button>
                {%endif%}
                {% if perms.mastersheet.add_toiletconstruction%}
                <button id = "add_tc" type="button" class="btn btn-default btn-success pull-right" style="margin-left:10px;" onclick = "window.open('/admin/master/mastersheet/toiletconstruction/add/', '_blank', 'width=850,height=750')" ><span class="glyphicon glyphicon-plus"></span> Toilet Construction</button>
                {%endif%}
                {% if perms.mastersheet.add_sbmupload%}
                <a id = "add_sbm" type="button" class="btn btn-default btn-success pull-right" style="margin-left:10px;" onclick = "window.open('/admin/master/mastersheet/sbmupload/add/?_to_field=id&_popup=1', '_blank', 'width=850,height=750')" ><span class="glyphicon glyphicon-plus"></span> SBM</a>
                {%endif%}
            </div>
        </div>
    </div>

</div>

{%endblock%}