{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/city_cards.css' %}" />

{%block scriptblock %}
<link rel="stylesheet"  type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
<script src="{% static "js/jquery.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-156545676-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-156545676-1');
</script>

{%endblock %}

{% block scriptblock1 %}
{% endblock %}

{% block styleblock %}
{% endblock %}

<body>
<div class="dashboard-shell">
  {% block headerblock %}
  <!--Header starts here-->
  <nav class="dashboard-topbar" id="navbar">
      <div class="dashboard-topbar__inner">
        <div class="dashboard-topbar__brand">
            {% if user.is_authenticated %}
            <a href="{% url 'login_success' %}" class="dashboard-topbar__brand-link">
                {% else %}
                <a href="/" class="dashboard-topbar__brand-link">
                {% endif %}
                <img src="{% static 'images/shelter.png' %}" alt="Shelter Associates" class="dashboard-topbar__logo"/>
            </a>
        </div>
        <div class="dashboard-topbar__actions">
            {% if user.is_authenticated %}
                <span class="dashboard-topbar__welcome">Welcome {{user}}</span>
                {% if user.is_superuser or user.username == "GIS" %}
                <a href="/admin" class="dashboard-topbar__link">Admin</a>
                {% endif %}
                <a href="{% url 'logout' %}?next={{ request.path }}" class="dashboard-topbar__button">Logout</a>
            {% else %}
                <a href="/accounts/login/?next={{ request.path }}" id="loggedin" class="dashboard-topbar__button">Login</a>
            {% endif %}
        </div>
      </div>
  </nav>
  {%endblock %}

  {% block subheader %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</div>
</body>
